@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0;400&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.header,
 h2 {
   padding-left: 100px;
 }

.header, 
ul {
    padding: 0 50px 0 0;
    list-style: none;
    display: flex;
    font-weight: lighter;
}

.header,
 ul,
 li {
    font-size: 18px;
    gap: 18px;
}

.opening {
    background-color: #1f2937;
    font-family: Roboto, sans-serif;
    color: white;
    display: flex;
    padding: 0;
    padding: 90px 100px 100px 100px;
    gap: 20px;
}

.opening-left {
    width: 50%;
    flex-wrap: wrap;
}

.opening-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 50%;
 }

.opening-left h1 {
    font-size: 48px;
    padding: 0 10px 0 0;
    margin: 0;
}

.open-para {
    margin: 0 0 20px 0;
    font-weight: lighter;
    width: 70%;
}

.signup {
    color: white; 
    background-color: #3882f6;
    border-radius: 10px;
    width: 128px;
    height: 35px;
    border: none;
    font-size: 18px;
    padding: 8px 0 8px 0;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0 100px 0;
}

.content-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.content-img-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 13%;
}

.content-img-info img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 64px 48px;
}

.content-img-info p {
    text-align: center;
    font-weight: 100;
    color: #1f2937;
    padding: 0;
    width: 77%;
}

.content-quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
    display: flex;
    flex-wrap: wrap;
}

.content-quote 
.quote {
   font-size: 36px;
   padding: 0 80px 0;
   font-style: italic;
   font-weight: lighter;
   color: #1f2937;
   margin: 0;
}

.content-quote
.signature {
   font-size: 30px;
   color: #1f2937;
   padding-left: 600px;
   margin: 0;
}

.content-call-label {
    background-color: #3882f6;
    margin: 50px 200px;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.content-call-text, 
 h3, 
 p {
    color: white;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.content-call-label .signup {
    border: solid white;
    padding: 0;
}

.footer 
 h4 {
    color: white;
    font-weight: 100;
 } 
