@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0;400&display=swap');

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    font-family: Roboto, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
}

.header,
 h2 {
   padding-left: 128px; 
 }

.header, 
ul {
    padding: 0 110px 0 0;
    list-style: none;
    display: flex;
    font-weight: lighter;
}

.header,
 ul,
 li {
    font-size: 18px;
    gap: 18px;
}
